

$primaryColor: #EF6461; 
$secondaryColor: #F4F4F9;
$fontWhite: #ffffff; 
$fontColor: #EF6461;
$activeButton: #EEBC1D; 

$footerfontColor: #000000; 



$defaultFont: 'lato'; 
$normalWeight: 300;  
$boldWeight: 700; 

$gutter: 1%; 
$gutterdbl: (2 * $gutter); 


$grid-breakpoints: (
xm: 576px,
sm: 640px,
md: 990px, 
lg: 1200px, 

);